* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color:#8ef0da;
    overflow-x: hidden;
    height: 90vh;
}

body::-webkit-scrollbar {
    display: none;
}

#Model {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
}

h1 {
    color: black;
    font-family: sans-serif;
    font-weight: 900;
    max-width: 1000px;
    margin: 90vh auto 0 auto;
    position: relative;
    z-index: 2;
    font-size: 40px;

}